asgiref==3.2.3
dj-database-url==0.5.0
Django==3.0
django-cors-headers==3.2.1
django-sendgrid-v5==0.8.1
djangorestframework==3.10.3
djangorestframework-simplejwt==4.4.0
future==0.18.2
gunicorn==20.0.4
pkg-resources==0.0.0
psycopg2==2.7.4
PyJWT==1.7.1
python-decouple==3.3
python-http-client==3.2.1
pytz==2019.3
sendgrid==6.1.0
sqlparse==0.3.0
whitenoise==5.0.1
